a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.clickable {
  cursor: pointer;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  min-height: 0;
  position: relative;
  z-index: 0;
}

.leaflet-pane,
.leaflet-top,
.leaflet-bottom,
.leaflet-control-container {
  z-index: 0;
}
